body {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.table-container {
  width: 50%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .table-container {
      width: 90%;
  }
}
