body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    text-align: center;
    background-color: #1e1e1e; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    margin: 10px 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1e90ff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #1c86ee;
}

.result {
    margin-top: 20px;
}

.back-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #ffffff;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}